In [9]:
import pandas as pd
data = {
    "name": ["jack", "john", "james", "ann"],
    "age": [23, 25, 40, 35],
    "counties": ["kajiado", "nyeri", "muranga", "nairobi"],
    "salary": [5000, 6000, 2500, 4500]
}
df = pd.DataFrame(data)
print(df)

    name  age counties  salary
0   jack   23  kajiado    5000
1   john   25    nyeri    6000
2  james   40  muranga    2500
3    ann   35  nairobi    4500

viewing Data

In [10]:
df.head()

    name  age counties  salary
0   jack   23  kajiado    5000
1   john   25    nyeri    6000
2  james   40  muranga    2500
3    ann   35  nairobi    4500

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      4 non-null      object
 1   age       4 non-null      int64
 2   counties  4 non-null      object
 3   salary    4 non-null      int64
dtypes: int64(2), object(2)
memory usage: 260.0+ bytes

In [12]:
df.describe()

             age       salary
count   4.000000     4.000000
mean   30.750000  4500.000000
std     8.098354  1471.960144
min    23.000000  2500.000000
25%    24.500000  4000.000000
50%    30.000000  4750.000000
75%    36.250000  5250.000000
max    40.000000  6000.000000

In [14]:
df["name"] #select column
df[["name", "salary"]]

    name  salary
0   jack    5000
1   john    6000
2  james    2500
3    ann    4500

In [16]:
df[df["age"]>30] #filter rows
df[df["counties"] == "nairobi"]

  name  age counties  salary
3  ann   35  nairobi    4500

In [18]:
#sorting
df.sort_values("salary", ascending=False)

    name  age counties  salary
1   john   25    nyeri    6000
0   jack   23  kajiado    5000
3    ann   35  nairobi    4500
2  james   40  muranga    2500

In [23]:
df.sort_values("age", ascending=True)

    name  age counties  salary
0   jack   23  kajiado    5000
1   john   25    nyeri    6000
3    ann   35  nairobi    4500
2  james   40  muranga    2500

In [25]:
df.to_csv("employees.csv", index=False)